html {
  background: #CCD0D4;
  min-height: 100%;
}

body {
  min-height: 100%;
}

h1.loader {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  font-size: 4.6875em;
  color: transparent;

  letter-spacing: 0em;
}

.loader span {
  text-shadow:
    0 0 2px rgba(204, 208, 212,0.9),
    0 15px 25px rgba(0, 0, 0, 0.3),
    0 -2px 3px rgba(0, 0, 0, 0.1),
    0 -5px 10px rgba(255, 255, 255, 0.5),
    0 5px 10px rgba(0, 0, 0, 0.3),
    0 3px 4px rgba(255, 255, 255, 0.2),
    0 0 20px rgba(255, 255, 255, 0.45);

    animation: loading 0.85s ease-in-out infinite alternate;
}

@keyframes loading {
	to {text-shadow:
    0 0 2px rgba(204, 208, 212,0.2),
    0 0 3px rgba(0, 0, 0, 0.02),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(0, 0, 0, 0),
    0 0 0 rgba(255, 255, 255, 0),
    0 0 0 rgba(255, 255, 255, 0);}
}

.loader span:nth-child(2) {
  animation-delay:0.10s;
}

.loader span:nth-child(3) {
  animation-delay:0.25s;
}

.loader span:nth-child(4) {
  animation-delay:0.40s;
}

.loader span:nth-child(5) {
  animation-delay:0.55s;
}

.loader span:nth-child(6) {
  animation-delay:0.70s;
}

.loader span:nth-child(7) {
  animation-delay:0.77s;
}

.loader span:nth-child(8) {
  animation-delay:0.83s;
}

.loader span:nth-child(9) {
  animation-delay:0.89s;
}

.loader span:nth-child(10) {
  animation-delay:0.95s;
}

#loader-wait {
  margin-top: 20%;
  font-size: 15px;
  text-align: right;
}

#map {
      width: 100%;
      height:95%;
      position:relative;
      z-index: 5;
}

#info {
        display: none;
        font-size:12px;
        margin-top:8px;
        position: absolute;
        z-index: 7;
        background-color: rgba(160, 140, 140, 0.5);
        left:37%;
        bottom: 4%;
        border-radius: 4px;
        color:white;
        width: auto;
        height: 30px;
      }

#info:hover {
   background-color: rgba(160, 140, 140, 0.96);
   width: 32%;
   height: 32px;
   padding-top: 0.5%;
   padding-left: 1%;
   left:37%;
   transition: all .4s ease-in-out;

}

.item {
  background-color: #0489B1;
  border-radius:8px;
  color:white;
}
.modal-backdrop-bg { background-color: rgba(0, 0, 0, 0.89); }
.modal-backdrop { background-color: rgba(24, 121, 125, 0.3); }

.button_diffu, .button_vote {
  width:100%;
  height: 225px;
  margin-left: 2%;
  margin-bottom: 30px;
  padding-top: 150px;
  padding-bottom: 12px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 22px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.logo_kolp {left: 26%;top:6%;}

.button_diffu:hover .logo_kolp_gif {display: block;left: 26%;top:6%;}
.button_diffu:hover .logo_kolp {display: none;}

.button_vote a, .button_diffu a {text-decoration: none;color:white;}

.button_vote:hover, .button_diffu:hover {
font-size: 55px;
transition-duration: .5s;
transition-timing-function: ease-in-out;
background-color: rgba(0, 0, 0, 0.55);
}

.button_vote:hover a, .button_diffu:hover a {
  text-rendering: optimizeSpeed;
}

.menu {
background-color:#086A87;
color:white;
}

.item-complex .item-content,
.item-radio .item-content {
  background-color: #0489B1;
   border-radius:8px;
   color:white;
   border: 2px solid rgba(129, 190, 247, 0.7);
   }

.pane {
  background-color:#F2F2F2;
}

.pop_up_login {border-radius: 10px;width: 30%;margin-left: auto;margin-right: auto;height: 20%;padding: 1%;}

.no-bgblue { background-color:rgba(255, 255, 255, 0.4);}

.bg_blue {margin-bottom:3%;margin-left:auto;margin-right:auto;width:200px;background-color:rgba(0, 0, 0, 0.4);}

 hr {width:25%;}

.no-bgblue a {text-decoration: none;color:white;}

.no-bottom { margin-top: 0%; z-index: 7;}

.logo_kolp, .logo_kolp_gif {width: 180px;height:  150px; position:absolute;margin-right: 2%;}

.logo_kolp_gif {display: none;}


.bgabout {margin-left:auto;
margin-right:auto;
 text-align:center;}

.logo_techno {
  position: relative;
  width: 100%;
  height: auto;
  margin-left: 35%;
  margin-right: 35%;
}

.welcome_panel_1 {
  width:100%;
  height:95.5%;
  background-color:rgba(230, 230, 230, 0.8);
  border-radius:10px;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.55);
  color:white;
  margin-top:1%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 1%;
  left:5%;
  padding:1%;
  text-align: left;
}



.welco {margin-left: 17%;}

.acc_img_gmap {
width: 14%;
}


@media screen and (max-width:768px)
{
    #info {
    margin-right:-15px;
    margin-top:-5px;
    width:155px;
    }

    .welcome_panel_1 {
      margin-top: 3%;
    }

    .button_diffu, .button_vote {
      height: 265px;
      margin-bottom: 10px;
      margin-left: 7.5%;
      padding-top: 210px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .button_diffu:hover, .button_vote:hover {
      font-size: 38px;
    }

    .logo_kolp {left: 26%;top:6%;}

    .button_diffu:hover .logo_kolp_gif {display: block;left: 26%;top:6%;}
    .button_diffu:hover .logo_kolp {display: none;}
    .pop_up_login {
      border-radius: 0px;
      width: 100%;
      margin-left: 0px;
      margin-right: 0px;
      height: 300px;
    }

    .welco {margin-left: 0%;font-size-adjust: auto;}


}
