<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>

      <ion-nav-buttons side="right">
        <button class="button menu-close" ng-click="login()" menu-toggle="right">
          Connexion
        </button>

      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Menu - KOLP</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/pageVoteDiffuseur2">
          Page Choix Vote ou Diffuseur
        </ion-item>
        <hr>
        <ion-item menu-close ng-click="login()">
          Connexion
        </ion-item>
        <ion-item menu-close href="#/app/youtubePageTest">
          Page test api Youtube
        </ion-item>
        <ion-item menu-close href="#/app/pageGeolo3">
          Page Géolocalisation
        </ion-item>
        <ion-item menu-close href="#/app/pagePlaylistEnCour4">
         Page playlists en cour
        </ion-item>
        <ion-item menu-close href="#/app/pageRechercheAjout5">
          Page Ajout/Recherche
        </ion-item>
        <ion-item menu-close href="#/app/pageMonCompte8">
         Page Compte
        </ion-item>
        <ion-item menu-close href="#/app/pageMesPLaylist6">
          Page Mes PLaylist
        </ion-item>
        <ion-item menu-close href="#/app/pageCreerPLaylist7">
         Page Creer PLaylist
        </ion-item>
        <hr>
        <ion-item menu-close href="#/app/settings">
         Page Paramètres
        </ion-item>
        <ion-item menu-close href="#/app/about">
         Page A propos
      </div>        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
