<ion-view view-title="Home">


  <ion-content>
    <div class="welcome_panel_1">
      <ion-item class="logo_kolp no-bgblue">
        <div class="welco">
    <h1>Bienvenue sur <strong><i>KOLP</i></strong></h1>
    <h3>Application de musique</h3>
    <h4> par géolocalisation</h4></div>
      <div class="welco">
    <img src="../img/KOLP.gif" alt="logo_KOLP"/></
  </ion-item>      <ion-item class="no-bgblue">

    <div class="btt button_diffu">Diffusion</div>
    <div class="btt button_vote">Vote</div>
      <img src="../img/youtube_ico_dark.png" alt="logo_youtube"/>
      <img class="acc_img_gmap" src="../img/google_maps_ico_dark.png" alt="logo_googlemaps"/>

</ion-item>
     </div>
  </ion-content>
</ion-view>
