<ion-view view-title="Geolocalisation">

  <ion-nav-buttons side="right">
  <!--  <button onclick="initMap();">AGRANDIR LA MAP</button> -->
  </ion-nav-buttons>

  <ion-content><div id="loader-wait"></div>  <script src="js/loader.js"></script>
      <div id="info"></div>
      <div id="map"></div>

      <script type="text/javascript" src="js/backgroundGeo.js"></script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjYk8ul3RXplujSBlJRbgd0fx6WCVv06I&callback=initMap"></script>

 </ion-content>
</ion-view>
