<ion-view view-title="Search">
  <script src="./js/yout.js"></script>
  <ion-content>

    <form id="search-term">
      <input type="text" value="" placeholder="Recherche ici.." size="30" id="query">
      <!-- Remove asdf later -->
      <button ion-button class='button' (click)="submit" onsubmit="reinit_player();">Recherche</button>
      <hr>
    </form>
    <div id="search-results">
    </div>
    <div id="container-player">
      <div id="ytplayer"></div>
    </div>
  </ion-content>
</ion-view>
